# This file is imported directly into the build.xml before being re-written out as
# unit-tests.properties.
# the prefix junit. is used to allow easy filtering when writing out the properties
# at jar creation time.

junit.SampleConfigCase.baseDir=${build.dir}/example-xml

junit.tmp.dir=${build.dir}/tmp
junit.test.classes=**/**/**/**/*Test*.java
